html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ToolBox-Icons {
  height: 50px;
  width: 50px;
  align-self: center;
  color: white;
}

.flag {
  height: 20px;
  width: auto;
  margin-bottom: 7px;
}


